.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;

}
.container{
    display: flex;
    justify-content: center;
}

.img{
width: 50%
}

.text{
    display: flex;
    justify-content: space-between;
}

.text p{
    font-size: 10px;
}